<a href="https://colab.research.google.com/github/s10950026/bigdata/blob/main/0309.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
a <- 5
b <- 3.14
c <- -1618
d <- "HELLO"

In [18]:
str(a)
str(b)
str(c)
str(d)

 num 5
 num 3.14
 num -1618
 chr "HELLO"

In [19]:
is.numeric(a)
is.numeric(b)
is.numeric(c)
is.numeric(d)

[1] TRUE

[1] TRUE

[1] TRUE

[1] FALSE

In [21]:
is.integer(a)
is.integer(b)
is.integer(c)
is.integer(d)

[1] FALSE

[1] FALSE

[1] FALSE

[1] FALSE

In [22]:
is.character(a)
is.character(b)
is.character(c)
is.character(d)

[1] FALSE

[1] FALSE

[1] FALSE

[1] TRUE

In [23]:
e <- c(5,4,3,2,1)
f <- c("How","dare","you")

In [28]:
e[1]
f[c(1,2)]

[1] 5

[1] "How"  "dare"

In [31]:
g <- c(1,2,3,4,5)
h <- c(1,2,3,4,5)

In [34]:
g * h
g ^ 2
h ^ 3
g > 3

[1]  1  4  9 16 25

[1]  1  4  9 16 25

[1]   1   8  27  64 125

[1] FALSE FALSE FALSE  TRUE  TRUE

In [38]:
gender <- c("MALE","FEMALE","MALE","FEMALE","?")
gender

[1] "MALE"   "FEMALE" "MALE"   "FEMALE" "?"

In [39]:
gender <- factor(gender)
gender

[1] MALE   FEMALE MALE   FEMALE ?
Levels: ? FEMALE MALE

In [41]:
j <- matrix(c(1:6),nrow=3,ncol=2)
j
k <- matrix(c(7:12),nrow=2,ncol=3)
k

     [,1] [,2]
[1,] 1    4
[2,] 2    5
[3,] 3    6

     [,1] [,2] [,3]
[1,] 7     9   11
[2,] 8    10   12

In [42]:
j[2,2]
j[,2]
j[2,]

[1] 5

[1] 4 5 6

[1] 2 5

In [52]:
install.packages("SportsAnalytics")
library(SportsAnalytics)
NBA1516<-fetch_NBAPlayerStatistics("15-16")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [53]:
str(NBA1516)

'data.frame':	476 obs. of  25 variables:
 $ League             : Factor w/ 1 level "NBA": 1 1 1 1 1 1 1 1 1 1 ...
 $ Name               : chr  "Quincy Acy" "Jordan Adams" "Steven Adams" "Arron Afflalo" ...
 $ Team               : Factor w/ 31 levels "ATL","BOS","BRO",..: 27 15 22 20 19 13 28 26 12 15 ...
 $ Position           : Factor w/ 5 levels "C","PF","PG",..: 4 5 1 5 1 1 2 2 2 5 ...
 $ GamesPlayed        : int  59 2 80 71 59 60 74 9 79 64 ...
 $ TotalMinutesPlayed : int  877 15 2019 2359 863 802 2260 37 1601 1622 ...
 $ FieldGoalsMade     : int  119 2 261 354 150 134 536 5 191 215 ...
 $ FieldGoalsAttempted: int  214 6 426 799 314 225 1045 10 370 469 ...
 $ ThreesMade         : int  19 0 0 91 0 0 0 0 0 15 ...
 $ ThreesAttempted    : int  49 1 0 238 1 0 16 0 0 42 ...
 $ FreeThrowsMade     : int  50 3 114 110 52 60 259 0 46 90 ...
 $ FreeThrowsAttempted: int  68 5 196 131 62 84 302 0 73 138 ...
 $ OffensiveRebounds  : int  65 0 218 23 75 86 175 2 162 104 ...
 $ TotalRebounds      : int  188 2 531 266 269 288 631 6 424 297 ...
 $ Assists            : int  27 3 61 145 32 50 110 0 76 70 ...
 $ Steals             : int  29 3 42 25 19 47 38 1 26 109 ...
 $ Turnovers          : int  27 2 84 82 54 64 99 1 69 78 ...
 $ Blocks             : int  24 0 89 10 36 68 81 2 42 18 ...
 $ PersonalFouls      : int  103 2 223 142 134 139 151 1 147 175 ...
 $ Disqualifications  : int  0 0 2 1 0 1 0 0 1 1 ...
 $ TotalPoints        : int  307 7 636 909 352 328 1331 10 428 535 ...
 $ Technicals         : int  3 0 2 1 2 0 0 0 0 1 ...
 $ Ejections          : int  0 0 0 0 0 0 0 0 0 0 ...
 $ FlagrantFouls      : int  0 0 0 0 0 0 0 0 0 0 ...
 $ GamesStarted       : int  29 0 80 57 17 5 74 0 28 56 ...

In [54]:
head(NBA1516)

  League Name          Team Position GamesPlayed TotalMinutesPlayed
1 NBA    Quincy Acy    SAC  SF       59           877
2 NBA    Jordan Adams  MEM  SG        2            15
3 NBA    Steven Adams  OKL  C        80          2019
4 NBA    Arron Afflalo NYK  SG       71          2359
5 NBA    Alexis Ajinca NOR  C        59           863
6 NBA    Cole Aldrich  LAC  C        60           802
  FieldGoalsMade FieldGoalsAttempted ThreesMade ThreesAttempted ⋯ Steals
1 119            214                 19          49             ⋯ 29
2   2              6                  0           1             ⋯  3
3 261            426                  0           0             ⋯ 42
4 354            799                 91         238             ⋯ 25
5 150            314                  0           1             ⋯ 19
6 134            225                  0           0             ⋯ 47
  Turnovers Blocks PersonalFouls Disqualifications TotalPoints Technicals
1 27        24     103           0                 307         3
2  2         0       2           0                   7         0
3 84        89     223           2                 636         2
4 82        10     142           1                 909         1
5 54        36     134           0                 352         2
6 64        68     139           1                 328         0
  Ejections FlagrantFouls GamesStarted
1 0         0             29
2 0         0              0
3 0         0             80
4 0         0             57
5 0         0             17
6 0         0              5

In [58]:
NBA1516Order<-NBA1516[order(NBA1516$GamesPlayed,decreasing=T),]
NBA1516Order[1:20,]

    League Name             Team Position GamesPlayed TotalMinutesPlayed
11  NBA    Al-farouq Aminu  POR  SF       82          2342
37  NBA    Will Barton      DEN  SG       82          2355
48  NBA    Bismack Biyombo  TOR  PF       82          1810
62  NBA    Corey Brewer     HOU  SG       82          1670
118 NBA    Gorgui Dieng     MIN  C        82          2222
148 NBA    Langsto Galloway NYK  PG       82          2032
178 NBA    James Harden     HOU  SG       82          3121
208 NBA    Al Horford       ATL  PF       82          2638
246 NBA    Enes Kanter      OKL  C        82          1721
259 NBA    Zach Lavine      MIN  PG       82          2295
272 NBA    Robin Lopez      NYK  C        82          2213
320 NBA    Shabazz Muhammad MIN  SF       82          1678
357 NBA    Mason Plumlee    POR  PF       82          2087
394 NBA    Ramon Sessions   WAS  PG       82          1667
422 NBA    Isaiah Thomas    BOS  PG       82          2647
427 NBA    Tristan Thompson CLE  C        82          2269
431 NBA    Karl-antho Towns MIN  C        82          2621
432 NBA    P.j. Tucker      PHO  SF       82          2540
24  NBA    Trevor Ariza     HOU  SF       81          2860
41  NBA    Aron Baynes      DET  PF       81          1241
    FieldGoalsMade FieldGoalsAttempted ThreesMade ThreesAttempted ⋯ Steals
11  299             719                126        349             ⋯  72
37  426             984                112        324             ⋯  71
48  156             288                  0          1             ⋯  19
62  212             552                 61        225             ⋯  84
118 308             578                  6         20             ⋯  94
148 231             588                 77        224             ⋯  77
178 710            1617                236        656             ⋯ 138
208 529            1049                 88        257             ⋯  67
246 415             720                 10         21             ⋯  26
259 433             960                123        316             ⋯  69
272 357             662                  0          1             ⋯  16
320 317             681                 44        152             ⋯  24
357 267             517                  0          4             ⋯  68
394 280             592                 36        111             ⋯  47
422 591            1382                167        465             ⋯  91
427 247             420                  0          0             ⋯  38
431 625            1152                 30         88             ⋯  58
432 239             582                 68        206             ⋯ 106
24  357             858                185        497             ⋯ 161
41  194             384                  0          2             ⋯  21
    Turnovers Blocks PersonalFouls Disqualifications TotalPoints Technicals
11  120        53    171           0                  839        3
37  139        39    147           0                 1180        2
48   71       133    225           2                  454        3
62   78        19    168           1                  590        0
118 140        96    219           0                  827        1
148  61        22    177           2                  625        0
178 374        51    229           1                 2376        2
208 107       122    163           0                 1249        1
246 115        33    166           1                 1040        2
259 155        17    193           1                 1150        0
272 133       129    182           2                  842        3
320  70         7     94           0                  863        0
357 154        82    253           4                  749        1
394 115         5    102           0                  810        0
422 220         9    167           1                 1823        9
427  61        51    202           0                  643        1
431 183       138    245           1                 1503        2
432 111        20    202           3                  652        4
24  113        26    177           0                 1025        2
41   67        52    151           0                  514        0
    Ejections FlagrantFouls GamesStarted
11  0         0             82
37  0         0              1
48  0         0             22
62  0         0             12
118 0         0             39
148 0         0              7
178 0         0             82
208 0         0             82
246 0         0              1
259 0         0             33
272 0         0             82
320 0         0              0
357 0         0             82
394 0         0              5
422 0         0             79
427 0         0             34
431 0         0             82
432 0         0             80
24  0         0             81
41  0         0              1